/* You can add global styles to this file, and also import other style files */
/* Definición de colores globales */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Estilos globales adicionales */
:root {
  --primary-color: #36BA98;
  --overlay-color: #E9C46A;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #000;
    background-color: #fff;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
